/* Informações Comentario de identificadores para Componentes Id e Class
Quando For Istilizar Um Componente Basta Colocar o Nome do Componente Conforme Abaixo
body {configurações}
header {configurações}
footer {configurações}
Quando For Istilizar  Componente Exemplo id="conteudo" identificado (#) Conforme Abaixo
#conteudo {configurações}
#login-dialog {configurações}
Quando For Istilizar  Componente Exemplo styleClass="grid-login" identificado (.) Conforme Abaixo
.grid-login {configurações}


/*tamanho da fonte dos componentes do primefaces*/
.ui-widget {  
    font-size: 12px !important;  
} 

@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 2px;
	margin-bottom: 0px;
	height: 40px;
	background-color: black;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
}

#conteudo {
	padding: 20px 8px;
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px;
	text-align: center;
 }
 
h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px
} 

#login-dialog {
	width: 400px;
	margin: auto;
	margin-top: 150px;
	display:flex;"
}

.grid-login {
	background-color: #f2f2f2;
	margin-top: 8px;
	padding: 10px;
	width: 100%
}

.ajax-status {
	position: fixed;
	top: 85px;
	right: 140px;
	width: 75px;
	height: 75px
}